{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "riddle/style.css" %}" />
{% if users %}
<div class='Table'>
    {% for user, rendus in users %}
    <div class='Row'>
        <div class='Cell'><p><b>{{ user.username }}</b></p></div>
    </div>
    {% for rendu, name in rendus %}
    <div class='Row'>
        <div class='Cell'>{{name}}</div>
        <div class='Cell'>{{rendu.note}}</div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% else %}
<p>No Riddle at the time.</p>
{% endif %}
