{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "riddle/style.css" %}" />
{% if hint %}
<div class='hint'>
    {{hint.content}}
</div>
{% endif %}
<div class='riddle'>
    <textarea class='riddle-textarea' readonly="true" rows="38" cols="80">{{riddle.content}}</textarea>
</div>
<div class='exercice'>
    <form class='exercice-form' method='post' action="/{{riddle.id}}/">
        {% csrf_token %}
        {{ form }}<br/>
        <input type='submit' value='Send your response'/>
    </form>
</div>
