{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "riddle/style.css" %}" />
{% if lastest_riddle_list %}
<div class='Table'>
    {% for riddle, nb_response, last_response, note, grade in lastest_riddle_list %}
    <div class='Row'>
        <div class='Cell'><a href="{% url 'riddle' riddle.id %}">{{riddle.name}}</a></div>
        <div class='Cell'>{{nb_response}} response(s)</div>
        <div class='Cell'>{% if last_response %}<a href="rendu/{{last_response}}"> Last response</a>{% endif %}</div>
        <div class='Cell'>{{note}} <img src="{% static grade %}"/></div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No Riddle at the time.</p>
{% endif %}
